        /* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
    .large-disript-center-top,
    .large-disript-center-bottom {
        font-size: 65px;
    }
    .wrap-border {
        margin-left: 12%;
        margin-top: -10%;
    }
}

        /* Medium Devices, Desktops */
@media only screen and (max-width : 992px){

    .large-disript-center-top,
    .large-disript-center-bottom {
        font-size: 55px;
    }
    .wrap-border {      
        margin-left: 10%;
        width: 600px;
        height: 450px;
    }
    .latest-discript {
        padding-top: 40px;
    }

    .wrap-disript {
        margin-top: 16%;
    
    }
    
}

        /* Small Devices, Tablets */
@media only screen and (max-width : 768px){
    .logo{
        top: 0px;
        left: 0px;
    }

    .nav-btn, #btn-close-modal {
        top: 0px;
        right: 0px;
    }

    .latest-discript {
        padding-top: 50px;
    }

    .wrap-border {
        margin-left: 10%;
        margin-top: -10%;
        border: none;

    }

    .wrap-disript {
        margin-top: 5%;
    
    }

}

        /* Extra Small Devices, Phones */
@media only screen and (max-width: 480px){



    .large-disript-center-top,
    .large-disript-center-bottom {
        font-size: 40px;
    }

    .wrap-border {
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 6%;        

    }

     .latest-discript {
        padding-top: 20px;
    }

    .wrap-disript {
        margin-top: 22%;
    
    }
}

        /* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
    .large-disript-center-top,
    .large-disript-center-bottom {
        font-size: 34px;
    }
     .wrap-border {
        width: 280px;
        height: 320px;
        margin: auto;
        margin-top: 6%;

    }

    .latest-discript {
        padding-top: 30px;
    }

    .wrap-disript {
        margin-top: 25%;
    
    }

}